// Import Sass files.
@import 'import';

// Global (careful here).
// Global font.
body,
.font-regular {
  font-family: 'ProximaNovaA-Regular', 'Century Gothic', AppleGothic, Arial, sans-serif;
  font-size: 1rem;
  color: $unb-darkgray;
  // Global header sizing.
  h1,
  h1.display-4,
  h1 > span,
  .navbar-brand .site-title {
    font-size: 1.8rem;
  }
  h2,
  h2 > a {
    font-size: 1.4rem;
  }
  h3,
  h3 > a {
    font-size: 1.3rem;
  }
  h4,
  h4 > a {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  // Global header weight.
  h1, h2, h3, h4, h5,
  h1.display-4, h1 > span, .navbar-brand .site-title {
    font-weight: bold;
  }
  // Justify paragraph text.
  p {
    text-align: justify;
  }
  // Global superscript size.
  sup {
    font-size: .85rem;
  }
}

// Broad (also careful).
// Input.
input {
  border-radius: 2px !important;
  box-shadow: none !important;
}
// Buttons.
.btn {
  border-color: $aaslp-blue !important;
  background-color: $aaslp-blue !important;
}
.btn:hover, {
  border-color: $aaslp-dblue !important;
  background-color: $aaslp-dblue !important;
}

// Header.
header {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    .container {
    background-color: $aaslp-blue;
      .navbar-brand {
        padding-top: 4rem;
        padding-bottom: 4rem;
        // Site title.
        .site-title {
          display: block;
          padding-left: 1rem;
          padding-right: 1rem;
          font-family: "Cinzel Decorative", Times, Serif;
          font-size: 1.6rem !important;
          text-transform: capitalize !important;
          color: $offwhite !important;
        }
      }
      // Main navigation region.
      .region-nav-main {
        // Main menu.
        .navbar-nav {
          a {
            color: $offwhite;
            font-size: 1.2rem;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// Main conainer.
main > .container {
  padding-left: 0;
  padding-right: 0;

  // Breadcrumbs.
  .breadcrumb {
    margin-bottom: 0;
    border-radius: 0;
    background-color: $lgray;

    li {
      margin-right: .5rem;
      font-style: italic;
    }

    a:active,
    a:focus,
    a:hover {
      color: $unb-darkgray;
    }
  }

  // Page title.
  .block-page-title-block {
    padding: 1rem 0;

    h1, h1 > span {
      margin: 0;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  // Sidebar.
  .order-2 {
    background-color: $lgray;

    // Facet blocks.
    .block-facets {
      padding-top: 1rem;

      h3 {
        font-size: 1.15rem;
        font-weight: bold;
      }
    }

    .region-sidebar-first {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 1.2rem;
    }

    // Main area when sidebar is displayed.
    & + .order-1 {
      .page-title {
        margin-left: 1rem;
      }
    }
  }

  // Facet blocks.
  .block-facets {
    padding-top: 1rem;

    h3 {
      font-size: 1.15rem;
      font-weight: normal;
      margin: 0;
      padding: .2rem;
      padding-left: 1rem;
      color: $unb-darkgray !important;
    }
    ul {
      padding-left: 1rem;
      padding-right: 1.2rem;
      margin: .5rem;

      li {
        line-height: 1.2rem;
        list-style: none;

        // Range slider.
        .facet-slider {
          // First value.
          .ui-slider-pip-first {
            color: $aaslp-blue;
          }
          // Last value.
          .ui-slider-pip-last {
            color: $jc-orange;
          }
        }

        &.parent-location {
          font-weight: bold;
          margin-top: .4rem;
        }

        &.child-location {
          margin-left: 1rem;
        }

        label {
          display: flex;
          margin-bottom: 0;
          font-size: .9rem;
        }

        input {
          display: block;
          float: left;
          height: .6rem;
          margin-right: .2rem;
          margin-top: .2rem;
          -moz-transform: scale(1);
        }
      }
    }

    // Timeline checkbox facets.
    ul[data-drupal-facet-id="timeline_crimes"],
    ul[data-drupal-facet-id="timeline_location"],
    ul[data-drupal-facet-id="timeline_punishments"] {
      columns: 3;
    }

    ul[data-drupal-facet-id="timeline_punishments"] {
      margin-bottom: 2rem;
    }
  }

  // Content region.
  .region-content {
    padding: 0 !important;

    // Article.
    article {
      padding-bottom: 1rem;
    }

    // Homepage form.
    form#aaslp-core-homepage {
      padding: 1.2rem;
      // Navigation tabs.
      .nav.nav-tabs {
        margin-top: 2rem;
        height: 25px;
        border-bottom: none;

        li {
          margin-bottom: -4px;
        }

        a {
          padding: 10px !important;

          &.active {
            background-color: $lgray;
          }
        }
      }
      // Tab content.
      #edit-tab-content {
        margin-bottom: 2rem;
        background-color: $lgray;
        padding: 1rem;

        #title > div,
        #fulltext > div > div {
          display: inline-block;
          max-width: 600px;
        }

        // Search buttons.
        .btn-primary {
          vertical-align: top;
          margin-top: 3.2rem;
        }
        // Fulltext search button.
        #edit-submit-fulltext {
          border-color: $unb-darkred !important;
          background-color: $unb-darkred !important;
        }
        #edit-submit-fulltext:hover {
          border-color: $unb-darkerred !important;
          background-color: $unb-darkerred !important;
        }
      }

      // Browse panels.
      .browse-panels {
        margin-top: 1rem;

        .browse-timeline {
          padding-left: 0;
        }

        .browse-map {
          padding-right: 0;
        }

        .panel-img-link {
          opacity: 100%;

          &:hover {
            opacity: 70%;
          }
        }
        .fa-external-link-alt {
          position: absolute;
          top: 10px;
          left: 93%;
          z-index: 100;
          color: $offwhite;
        }
        .panel-img {
          max-width: 100%;
        }
        .browse-header {
          margin-top: .5rem;
          margin-bottom: .5rem;
          font-family: "Cinzel Decorative", Times, Serif;
        }
      }

      // SSHRC logo.
      .sshrc-panel {
        margin-top: 2rem;
        text-align: center;
      }
    }

    // Exposed search.
    .views-exposed-form {
      // Form.
      form {
        padding-left: 1rem;
        // Text input.
        .form-item-search-api-fulltext {
          width: 80%;
        }
        .form-text {
          font-size: 1rem;
        }
        // Submit buttons.
        .form-actions {
          display: inline-block;
          margin-top: 1.1rem;
          font-size: 1.1rem;

          [id^="edit-submit-aaslp-search"],
          [id^="edit-submit-aaslp-search"]:active,
          [id^="edit-submit-aaslp-metadata-search"],
          [id^="edit-submit-aaslp-metadata-search"]:active,
          [id^="edit-custom-reset"],
          [id^="edit-custom-reset"]:active {
            margin: 0;
            padding-left: .2rem;
            background-color: transparent !important;
            color: $unb-darkgray;
            border: none;
            box-shadow: none;
            font-family: 'Font Awesome\ 5 Free';
            font-weight: 900;
          }
          [id^="edit-submit-aaslp-search"]:hover,
          [id^="edit-submit-aaslp-metadata-search"]:hover,
          [id^="edit-custom-reset"]:hover {
            color: $aaslp-blue;
          }
        }
      }
    }

    // For combined filters.
    form.views-exposed-form {
      padding-left: 1rem;
      // Text input.
      .form-item-search-api-fulltext {
        width: 80%;
      }
      .form-text {
        font-size: 1rem;
      }
      // Submit buttons.
      .form-actions {
        display: inline-block;
        margin-top: 1.1rem;
        font-size: 1.1rem;

        [id^="edit-submit-taxonomy-term"],
        [id^="edit-submit-taxonomy-term"]:active,
        [id^="edit-submit-aaslp-sources"],
        [id^="edit-submit-aaslp-sources"]:active,
        [id^="edit-custom-reset"],
        [id^="edit-custom-reset"]:active {
          margin: 0;
          padding-left: .2rem;
          background-color: transparent !important;
          color: $unb-darkgray;
          border: none;
          box-shadow: none;
          font-family: 'Font Awesome\ 5 Free';
          font-weight: 900;
        }
        [id^="edit-submit-taxonomy-term"]:hover,
        [id^="edit-submit-aaslp-sources"]:hover,
        [id^="edit-custom-reset"]:hover {
          color: $aaslp-blue;
        }
      }
    }

    // Links.
    a {
      color: $jc-orange;
    }
    a:active,
    a:focus,
    a:focus-within,
    a:target,
    a:hover {
      color: $unb-darkgray;
    }

    // Views content.
    .views-element-container .view-content {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
      margin-bottom: 1.2rem;
      // Views row.
      .views-row {
        margin-top: 1rem;

        .views-field-search-api-excerpt .excerpt {
          background-color: $lgray;
          padding: 4px 8px;
        }
      }
      // Table.
      table {
        th a {
          white-space: nowrap;
        }
        tr {
          &:nth-of-type(even) {
            background-color: $lgray;
          }
          &:nth-of-type(odd) {
            background-color: white;
          }
          td {
            border: none;

            &.is-active {
              background-color: initial;
            }
          }
        }
      }
      // Item list.
      .item-list {
        h3 {
          font-weight: normal;
        }
        ul {
          list-style: none;

          li:nth-of-type(odd) {
            background-color: $lgray;
          }
        }
      }

      // Timeline.
      [id^="timelinejs-aaslp-timeline-page"] {
        // Base font size.
        .tl-timeline {
          font-size: 20px;
        }
        // Full background image links.
        .tl-full-image-background a {
          color: white;

          &:active,
          &:focus,
          &:focus-within,
          &:target,
          &:hover {
            color: $unb-25gray;
          }
        }
        // Hide default year display (full date included instead).
        .tl-text-content-container .tl-headline-date {
          display: none;
        }
        // Headline.
        .tl-text-content-container > .tl-headline {
          line-height: 2rem;
        }
        // Time marker.
        .tl-timemarker .tl-timemarker-content-container {
          background-color: #f2f2f2;

          .tl-timemarker-content .tl-timemarker-text h2.tl-headline {
            color: #222;
          }
        }
        // Time axis.
        .tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick {
          font-size: 14px;
          color: #aa0404;
        }

        .tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick {
          font-size: 12px;
          color: #666;
        }
        // Hide timeline icon in timemarker content.
        .tl-timemarker-content .tl-headline sup {
          display: none;
        }
        // Hide timeline icon in slidenav content.
        .tl-slidenav-content-container .tl-slidenav-title sup {
          display: none;
        }
        // Time group labels.
        .tl-timegroup-message {
          font-size: 20px;
          color: $unb-darkgray;
          text-shadow: none;
        }
        // Historical events panel.
        .tl-timeaxis-background + .tl-timegroup.tl-timegroup-alternate {
          background-color: $aaslp-lblue;
        }
        // Historical events panel.
        .tl-timeaxis-background + .tl-timegroup.tl-timegroup-alternate + .tl-timegroup {
          background-color: $aaslp-lgold;
        }
        .tl-timeaxis-background + .tl-timegroup.tl-timegroup-alternate + .tl-timegroup + .tl-timegroup.tl-timegroup-alternate {
          background-color: $aaslp-lgold;
        }
      }

      // Maximized timeline only.
      #timelinejs-aaslp-timeline-page-2 {
        height: 38vw !important;
      }

      // Map (Locations).
      // Style divicon marker.
      .leaflet-map-divicon {
        padding: 4px;
        font-size: .8rem;
        color: $offwhite;
        background-color: $jc-orange;
      }
    }
    // Views header, view empty.
    .views-exposed-form + div + .block-aaslp-lib-unb-ca-content {
      .view-header, .view-empty {
        padding-top: 3.8rem;
      }
    }
    // Views header, view empty.
    .view-header, .view-empty {
      margin: 1.2rem;
    }
    // Views footer.
    .view-footer {
      margin: 1.2rem;
    }

      // Views pager.
      .pager {
        margin: 1.2rem;

      ul {
        li.active a {
          background-color: $lgray;
          border-color: $lgray;
        }
        li:first-of-type {
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;

          a {
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
          }
        }
        li:last-of-type {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;

          a {
            border-top-right-radius: inherit;
            border-bottom-right-radius: inherit;
          }
        }
        a {
          font-size: 1rem;
          color: $unb-darkgray !important;
        }
      }
    }

    // Node content.
    .node__content {
      margin: 0;

      // Field containers.
      .field {
        margin-top: 1.2rem;
      }

      // Annotations.
      .anno-marker {
        display: none;
      }

      .anno-group-header {
        margin-bottom: 0;
        padding: .4rem 0;
        border-top: 1px solid $unb-25gray;
        font-size: 1rem;
      }

      .anno-list {
        padding-left: 0;
        list-style: none;
      }

      .anno-group-header, .anno-list {
        margin-left: 1.4rem;
        padding: .2rem;
        background-color: $lgray;
      }

      // Document image.
      .field--name-field-document-image {
        float: right;
        margin: 1rem;
        border: 1px solid $lgray;
      }

      // Metadata layout.
      .con-metadata, .row-metadata, .col-metadata {
        padding: inherit;
      }
      .row-metadata {
        border-top: 1px solid $lgray;
        border-bottom: 1px solid $lgray;
        margin: 0;
      }
    }
    // Search page title.
    #block-aaslp-lib-unb-ca-page-title .page-title {
      text-align: left !important;
    }
  }
}

// Fullscreen timeline.
main.timeline-full {
  #main-content + div.container {
    max-width: 100%;
    padding: 1vw;
  }
}

// Footer.
footer {
  padding-top: 0 !important;

  & > .container {
    padding: .8rem 1.2rem !important;
    background-color: $aaslp-blue;
    color: white !important;

    // Footer logo.
    #footer-logo-img {
      max-width: 300px;
    }
    // Footer notice.
    #footer-copy {

      > p {
        margin-bottom: 0;
        padding-right: 15px;
        padding-top: 1.8rem;
        text-align: right;
      }

      a {
        color: white !important;
      }
    }
  }
}

/* Admin Toolbar Vertical Orientation */
.toolbar-tray-vertical {
  .custom-editor-menu {
    /* Add space between long menu title text and toggle icon */
    margin-right: .25rem;
  }
}

// Responsive.
@media (max-width: 990px) {
  // Homepage form.
  #aaslp-core-homepage .form-submit {
    margin: 0 !important;
  }
}
@media (max-width: 767px) {
  // Branding.
  header .navbar-brand {
    margin-right: 0;
    padding: 0 !important;
    white-space: pre-line;
    text-align: center;
  }
}
@media (max-width: 587px) {
  // Branding.
  header .navbar {
    padding: 0 !important;
  }
}

// Browser-specific.
// Mozilla only.
@-moz-document url-prefix() {
  // Homepage form.
  form#aaslp-core-homepage .nav.nav-tabs a {
    padding-bottom: 0 !important;
  }
}
