// Import Sass files.
@import 'import';

// Global (careful here).
// Global font.
body,
.font-regular {
  font-family: 'ProximaNovaA-Regular', 'Century Gothic', AppleGothic, Arial, sans-serif;
  color: $unb-darkgray;
  // Global header sizing.
  h1,
  h1.display-4,
  h1 > span,
  .navbar-brand .site-title {
    font-size: 1.8rem;
  }
  h2,
  h2 > a {
    font-size: 1.4rem;
  }
  h3,
  h3 > a {
    font-size: 1.3rem;
  }
  h4,
  h4 > a {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  // Global header weight.
  h1, h2, h3, h4, h5,
  h1.display-4, h1 > span, .navbar-brand .site-title {
    font-weight: bold;
  }
}

// Broad (also careful).
// Article (node).
article.node {
  p {
    text-align: justify;
  }
}

// Main conainer.
main > .container {
  // Facets.
  .block-facets {
    a.collapse-facet {
      color: $offwhite !important;
      text-decoration: none !important;
    }
    h3 {
      background-color: $afro-green;
      font-size: 1rem;
      padding: .5rem;
      margin: 0;
    }
    ul {
      padding-left: 0;
      padding-right: 1rem;
      margin: .5rem;
      display: grid;
      grid-template-rows: repeat(5, min-content);
      grid-auto-flow: column;

      &.item-list__range_slider {
        margin-bottom: 3rem;
      }
      li {
        font-size: .8rem;
        list-style: none;
      }
      li > input {
        height: .6rem;
        margin-right: .2rem;
      }
    }
    // Collapse icons.
    .collapse-facet[aria-expanded="true"] .fa-caret-right {
      display: none !important;
    }
    .collapse-facet:not([aria-expanded="true"]) .fa-caret-right {
      display: initial !important;
    }
    .collapse-facet[aria-expanded="true"] .fa-caret-down {
      display: initial !important;
    }
    .collapse-facet:not([aria-expanded="true"]) .fa-caret-down {
      display: none !important;
    }
    // Year facet.
    #collapseYearFacet > .item-list__range_slider {
      width: 86%;
      margin-left: 7%;
    }
  }
  // Exposed form.
  .views-exposed-form {
    // Actions (submit) button.
    .form-actions {
      display: inline-block;
      margin-top: 1.25rem;
    }
  }
  // Views content.
  .views-element-container .view-content {
    // Views row.
    .views-row {
      margin-top: 1rem;
    }
  }
  // Views footer.
  .view-footer {
    margin-top: 1rem;

    // Views pager.
    & + .pager {
      margin-top: 1rem;
    }
  }
  // Node content.
  .node__content {
    // Field containers.
    .field {
      margin-top: 1rem;
    }
  }
  // Search page title.
  #block-aaslp-lib-unb-ca-page-title .page-title {
    text-align: left !important;
  }
}

// Footer.
footer > .container {
  // Footer notice.
  #footer-copy {

    > p {
      text-align: right;
    }
  }
}

/* Admin Toolbar Vertical Orientation */
.toolbar-tray-vertical {
  .custom-editor-menu {
    /* Add space between long menu title text and toggle icon */
    margin-right: .25rem;
  }
}
