// Import Sass files.
@import 'import';

// Global (careful here).
// Global font.
body,
.font-regular {
  font-family: 'ProximaNovaA-Regular', 'Century Gothic', AppleGothic, Arial, sans-serif;
  font-size: 1rem;
  color: $unb-darkgray;
  // Global header sizing.
  h1,
  h1.display-4,
  h1 > span,
  .navbar-brand .site-title {
    font-size: 1.8rem;
  }
  h2,
  h2 > a {
    font-size: 1.4rem;
  }
  h3,
  h3 > a {
    font-size: 1.3rem;
  }
  h4,
  h4 > a {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  // Global header weight.
  h1, h2, h3, h4, h5,
  h1.display-4, h1 > span, .navbar-brand .site-title {
    font-weight: bold;
  }
}

// Broad (also careful).
// Article (node).
article.node {
  p {
    text-align: justify;
  }
}
// Input.
input {
  border-radius: 2px !important;
  box-shadow: none !important;
}

// Header.
header {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    .container {
    background-color: $unb-dturquoise;
      .navbar-brand {
        // Site title.
        .site-title {
          margin-top: 2rem !important;
          margin-bottom: 2rem !important;
          padding-left: 1rem;
          font-family: "Cinzel Decorative", Times, Serif;
          font-size: 1.6rem !important;
          text-transform: capitalize !important;
          color: $offwhite !important;
        }
      }
      // Main navigation region.
      .region-nav-main {
        // Exposed search.
        .views-exposed-form {
          // Text input.
          .form-text {
            font-size: 1rem;
            border: none;
          }
          // Submit buttons.
          .form-actions {
            display: inline-block;
            margin-top: 1.1rem;
            font-size: 1.1rem;

            [id^="edit-submit-aaslp-search"],
            [id^="edit-submit-aaslp-search"]:active {
              padding-left: .2rem;
              background-color: transparent;
              color: $lgray;
              border: none;
              box-shadow: none;
              font-family: 'Font Awesome\ 5 Free';
              font-weight: 900;
            }
            [id^="edit-submit-aaslp-search"]:hover {
              color: $offwhite;
            }
          }
        }
        // Main menu.
        .navbar-nav {
          a {
            color: $doffwhite;
            font-size: 1.2rem;

            &:hover {
              color: $offwhite;
            }
          }
        }
      }
    }
  }
}

// Main conainer.
main > .container {
  padding-left: 0;
  padding-right: 0;

  // Page title.
  .block-page-title-block {
    padding: .5rem 1rem;
    background-color: $unb-turquoise;
    color: $offwhite;

    h1, h1 > span {
      margin: 0;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  // Sidebar.
  .order-2 {
    padding-top: 1rem;
    background-color: $lgray;

    .region-sidebar-first {
      padding-right: 0;
      padding-left: 0;

      // Facets.
      .block-facets {
        a.collapse-facet {
          text-decoration: none !important;
        }
        h3 {
          font-size: 1rem;
          font-weight: normal !important;
          margin: 0;
          padding: .2rem;
          padding-left: 1rem;
          color: $unb-darkgray !important;
        }
        ul {
          padding-left: 1rem;
          padding-right: 1.2rem;
          margin: .5rem;

          &.item-list__range_slider {
            margin-bottom: 2rem;
          }

          li {
            line-height: 1.2rem;
            list-style: none;

            &.parent-location {
              margin-top: .4rem;
            }

            &.child-location {
              margin-left: 1rem;
            }

            label {
              display: block;
              margin-bottom: 0;
              font-size: .9rem;
            }

            input {
              display: block;
              float: left;
              height: .6rem;
              margin-right: .2rem;
              margin-top: .2rem;
            }
          }
        }
        // Collapse icons.
        .collapse-facet[aria-expanded="true"] .fa-caret-right {
          display: none !important;
        }
        .collapse-facet:not([aria-expanded="true"]) .fa-caret-right {
          display: initial !important;
        }
        .collapse-facet[aria-expanded="true"] .fa-caret-down {
          display: initial !important;
        }
        .collapse-facet:not([aria-expanded="true"]) .fa-caret-down {
          display: none !important;
        }
        // Year facet.
        #collapseYearFacet > .item-list__range_slider {
          width: 86%;
          margin-left: 7%;
        }
      }
    }
  }
  // Content region.
  .region-content {
    padding: 0 !important;

    // Links.
    a:hover {
      color: $unb-dmango;
    }

    // Views content.
    .views-element-container .view-content {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
      // Views row.
      table {
        th a {
          white-space: nowrap;
        }
        tr {
          &:nth-of-type(even) {
            background-color: $lgray;
          }
          &:nth-of-type(odd) {
            background-color: white;
          }
          td {
            border: none;

            &.is-active {
              background-color: initial;
            }
          }
        }
      }
    }
    // Views header/footer.
    .view-header,
    .view-footer {
      margin: 1.2rem;

      // Views pager.
      & + .pager {
        margin-top: 1.2rem;

        ul {
          li.btn:first-of-type {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }
          li.btn:last-of-type {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
          }
          a {
            font-size: 1rem;
          }
        }
      }
    }
    // Node content.
    .node__content {
      margin: 1rem 2rem;

      // Field containers.
      .field {
        margin-top: 1.2rem;
      }
    }
    // Search page title.
    #block-aaslp-lib-unb-ca-page-title .page-title {
      text-align: left !important;
    }
  }
}

// Footer.
footer {
  padding-top: 0 !important;

  & > .container {
    padding: .8rem 1.2rem !important;
    background-color: $unb-turquoise;
    color: $offwhite !important;

    // Footer logo.
    #footer-logo-img {
      max-width: 300px;
    }
    // Footer notice.
    #footer-copy {

      > p {
        margin-bottom: 0;
        padding-right: 15px;
        padding-top: 1.8rem;
        text-align: right;
      }

      a {
        color: $offwhite !important;
      }
    }
  }
}

/* Admin Toolbar Vertical Orientation */
.toolbar-tray-vertical {
  .custom-editor-menu {
    /* Add space between long menu title text and toggle icon */
    margin-right: .25rem;
  }
}
