<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
  <div id="footer-logo-div">
    <a href="https://lib.unb.ca">
      <img id="footer-logo-img" class="img-fluid" alt="University of New Brunswick Libraries"
      src="/themes/custom/leaf_lib_unb_ca/dist/img/unb-libraries-black-red.png">
    </a>
  </div>

  <div id="footer-copy">
    <p class="my-3">
      All contents © {{ 'now'|date('Y') }} UNB Libraries.
    </p>
  </div>
</div>
