<p class="ms-5 me-5">
  We acknowledge the affective toll this website and the historical records it describes may have on readers. The laws governing slavery 
  and freedom in the Atlantic World reflect the historical period in which they were written and contain content and language that is 
  racist, sexist, ableist, and otherwise discriminatory and may be upsetting to readers. The laws contained in this website were written by 
  white lawmakers, many of whom were themselves slaveholders; the voices of the enslaved are not reflected in this archive. However, many 
  of the laws were written in direct response to enslaved people’s resistance and their refusal to accept the terms of their bondage. In 
  this way, enslaved people’s volition, resistances, survival, and resiliency are apparent in these laws and the laws can be analyzed in a 
  manner that centre enslaved people. This digital archive has been constructed to preserve the historical record for future use and to 
  encourage scholarship slavery legislation.
</p>
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
  <div id="footer-logo">
    <a href="https://lib.unb.ca">
      <img id="footer-logo-img" class="img-fluid" alt="University of New Brunswick Libraries"
      src="/themes/custom/leaf_lib_unb_ca/dist/img/unb-libraries-black-red.png">
    </a>
    <p>
      All contents © {{ 'now'|date('Y') }} UNB Libraries.
    </p>
  </div>

  <div id="footer-sshrc">
    <img id="footer-sshrc-img" class="img-fluid" alt="Social Sciences and Humanities Council of Canada" 
    src="/themes/custom/leaf_lib_unb_ca/dist/img/sshrc.png">
  </div>
</div>
