<p class="ms-5 me-5">
<b>Historical Content Warning:</b> Some content (or its descriptions) found on this site may be harmful and difficult to view. 
These materials may be graphic or reflect biases. In some cases, they may conflict with strongly held cultural values, 
beliefs or restrictions. We provide access to these materials to preserve the historical record.
</p>
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
  <div id="footer-logo">
    <a href="https://lib.unb.ca">
      <img id="footer-logo-img" class="img-fluid" alt="University of New Brunswick Libraries"
      src="/themes/custom/leaf_lib_unb_ca/dist/img/unb-libraries-black-red.png">
    </a>
    <p>
      All contents © {{ 'now'|date('Y') }} UNB Libraries.
    </p>
  </div>

  <div id="footer-sshrc">
    <img id="footer-sshrc-img" class="img-fluid" alt="Social Sciences and Humanities Council of Canada" 
    src="/themes/custom/leaf_lib_unb_ca/dist/img/sshrc.png">
  </div>
</div>
